#myName {
  font-size: xx-large;
}

.projectImage {
  max-width: 20%;
  margin: 20px;
}

.projectImage:hover {
  max-width: 500%;
  margin: 20px;
}

.iconPict {
  color: white;
  font-size: xx-large;
  margin-left: 40px;
}
.iconPict:hover {
  color: hotpink;
  background-color: white;
  cursor: pointer;
}

.projectStart {
  margin-top: 20px;
  color:rgb(8, 64, 64);
  font-size: large;
  font-weight: bold;
}

#formButton {
  margin-top: 5px;
  margin-bottom: 25px;
}

.reusmeIntro {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  margin-top: 15px;
}

.resumelist {
  columns: 3;
}

ul {
  list-style: none;
}
ul li:before {
  content: "✓ ";
}


.resumeDL {
  font-size:x-large;
  margin-bottom: 15px;
}

.resumeDL:hover {
  cursor: pointer;
  color: hotpink;
}
